<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<bean id="eng" class="com.nt.beans.Engine">
<property name="id" value="11"/>
<property name="type" value="crdi"/>
<qualifier value="e"/>

</bean>
<bean id="eng1" class="com.nt.beans.Engine">
<property name="id" value="12"/>
<property name="type" value="ddis"/>
<qualifier value="e1"/>
</bean>
<bean id="viechle" class="com.nt.beans.Viechle"></bean>
</beans>
