<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!--<bean id="amtdetails" class="com.nt.beans.IntrAmtDetails"> <property 
		name="principle" value="101"/> <property name="time" value="10"/> <property 
		name="rate" value="2"/> </bean> <bean id="intrCalculator" class="com.nt.beans.IntrAmtCalculator"> 
		<constructor-arg ref="amtdetails"/> </bean> -->
		
	<bean id="intrcalculator" class="com.nt.beans.IntrAmtCalculator">
		<property name="details" value="101,10,2" />
	</bean>
	<bean id="cc"
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="com.nt.beans.IntrAmtDetails"
					value="com.nt.pe.CustomIntrAmtEditor" />
			</map>
		</property>
	</bean>

</beans>
