<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
        
        
     <!-- Driver Class Loading And COnnection Preparation -->   
 	<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
 		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
 		<property name="username" value="system"/>
 		<property name="password" value="papu"/>
 	</bean>
 	
 	<!--DAO Class Injection  -->
 	<bean id="stDAO" class="com.n.dao.StudentDaoImpl">
 		<constructor-arg ref="drds"/>
 	</bean>
 	
 	<!-- Service Class Injection -->
 	<bean id="stService" class="com.nt.service.StudentServiceImpl">
 		<constructor-arg ref="stDAO"/>
 	</bean>
 	
 	<!-- Controller Class Injection -->
 	<bean id="stController" class="com.nt.controller.MainController">
 		<constructor-arg ref="stService"/>
 	</bean>
 	
 </beans>